body {
    background: url("../img/fondologin.png") repeat;
    width: 100%;
    height: 100%;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0%;
}

.container .iconohome .icono {
    width: 70px;
    height: 70px;
    font-size: 40px;
    line-height: 70px;
    color: #fff;
    text-align: center;
    background: #cbcbcb;
    display: inline-block;
    margin: 0px 0px;
    text-decoration: none;
    border-radius: 100px;
    transition: all .3s ease;
}

.container .card {
    background: rgba(255, 255, 255, .5);
}

.container pre {
    color: #fff;
    font-size: 33px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    overflow: hidden;
}

.container .card svg {
    width: 140px;
    height: 140px;
    background: none;
    color: #E65100;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 60px;
    align-self: center
}