<!DOCTYPE html>
<html>

<head>
    <title>PIC</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700|Roboto:300,400,500i,700" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <header>
        <div>
            <div class="container-fluid menuLogin fondo">
                <div class="row">
                    <div class="col">
                        <img src="img/marcaHeader.png" alt="">
                    </div>
                    <div class="col d-flex justify-content-end">
                        <button class="btn btn-success btn-sm">
                            <a href="#">Iniciar Sesion</a>
                        </button>
                        <button class="btn btn-danger btn-sm">
                            <a href="#">Registrarse</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-2">
            <div class="container">
                <a href="#" class="navbar-brand">Menu</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Menu de navegacion">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="" class="nav-link">Libros</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Capitulos</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Publicaciones</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Revistas</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Congresos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12 mt-3 d-flex justify-content-center">
                    <pre>
                        Plataforma para el Control de Productos
                                        de Investigacion
                    </pre>
                </div>
                <div class="col-12 mb-5">
                    <div class="carousel slide" id="principal-carousel" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#principal-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#principal-carousel" data-slide-to="1"></li>
                            <li data-target="#principal-carousel" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="img/carousel1.jpg" alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="img/carousel2.jpg" alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="img/carousel3.jpg" alt="">
                            </div>
                        </div>

                        <a href="#principal-carousel" class="carousel-control-prev" data-slide="prev">
                            <span class="carousel-control-prev-icon" arial-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a href="#principal-carousel" class="carousel-control-next" data-slide="next">
                            <span class="carousel-control-next-icon" arial-hidden="true"></span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row palabra-celebre">
                <div class="col">
                    <img src="img/descarters.png" alt="">
                </div>
            </div>
            <div class="row enlaces">
                <div class="col-12 d-flex justify-content-center" id="subtitulo">
                    <pre>
                        Plataforma Digital
                    </pre>
                </div>
                <div class="col mt-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="img/contaEnlaces1.png" alt="Imagen de card">
                        <div class="card-body">
                            <h5 class="card-title">Card Titulo</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, harum?</p>
                            <a href="#" class="btn btn-primary">Leer mas...</a>
                        </div>
                    </div>
                </div>

                <div class="col mt-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="img/contaEnlace2.jpg" alt="Imagen de card">
                        <div class="card-body">
                            <h5 class="card-title">Card Titulo</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, harum?</p>
                            <a href="#" class="btn btn-primary">Leer mas...</a>
                        </div>
                    </div>
                </div>

                <div class="col mt-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="img/contaEnlace3.jpg" alt="Imagen de card">
                        <div class="card-body">
                            <h5 class="card-title">Card Titulo</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, harum?</p>
                            <a href="#" class="btn btn-primary">Leer mas...</a>
                        </div>
                    </div>
                </div>

                <div class="col mt-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="img/contaEnlace4.jpg" alt="Imagen de card">
                        <div class="card-body">
                            <h5 class="card-title">Card Titulo</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, harum?</p>
                            <a href="#" class="btn btn-primary">Leer mas...</a>
                        </div>
                    </div>
                </div>

                <div class="col mt-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="img/contaEnlace5.jpg" alt="Imagen de card">
                        <div class="card-body">
                            <h5 class="card-title">Card Titulo</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, harum?</p>
                            <a href="#" class="btn btn-primary">Leer mas...</a>
                        </div>
                    </div>
                </div>

                <div class="col mt-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="img/contaEnlace6.jpg" alt="Imagen de card">
                        <div class="card-body">
                            <h5 class="card-title">Card Titulo</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, harum?</p>
                            <a href="#" class="btn btn-primary">Leer mas...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container-fluid">
            <div class="row d-flex align-items-center">
                <div class="col logos d-flex justify-content-start">
                    <img src=" img/marca.png " alt="Imagen no disponible ">
                    <img src="img/logoBuap.png " alt="Imagen no disponible ">
                    <img src="img/compu.png" alt="Imagen no disponible">
                </div>
                <div class="col redes d-flex justify-content-end align-items-center">
                    <pre id="terminos-condiciones">
                        Transparencia y Acceso a la Información
                            Obligaciones de Transparencia
                                        PDI 2017 - 2021
                                    Derechos reservados
                    </pre>
                    <a href="#" class="icono facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="icono instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="icono twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="icono correo"><i class="fas fa-at"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>